button {
  cursor: pointer;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: .5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: .5rem;
  position: sticky;
  top: 0;
  align-items: center;
}

.header > p {
  font-size: 1.1rem;
}

nav > a {
  margin: 0 .5rem;
  font-size: 1rem;
}